.App {
  font-family: "Zen Dots", cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  background-color: #e4bff5;
  color: #fcfcfb;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: rgb(177, 90, 199);
}

.Heart {
  height: 250px;
  width: 350px;
  margin: 10px;
  padding: 0px;
  pointer-events: none;
}

.Header {
  color: #fcfcfb;
}
.Header_card {
  display: block;
  width: auto;
  list-style-type: none;
  background: rgba(231, 226, 236, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 145px;
  padding: 0px;
  font-size: 1.2rem;
}

.Adress:hover {
  top: -3px;
  right: -3px;
  color: #52c3f7;
  z-index: 1;
}

.PresentationText {
  width: 850px;
  height: 275px;
  border: #fa03a8 5px solid;
  margin: 10px;
  background-color: aqua;
}

.Presentation {
  width: 90%;
  height: 80%;
  font-size: 18px;
  align-items: center;
  margin: 1rem;
  background: rgba(231, 226, 236, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
  width: 330px;
  height: 100px;
  color: rgb(252, 253, 253);
  border-radius: 15px;
  margin: 0.5rem;
  font-family: "Zen Dots", cursive;
  font-size: 18px;
  background: rgba(231, 226, 236, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.div_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button:hover {
  backdrop-filter: blur(0px);
}

.Words {
  position: absolute;
  top: 0;
  right: 0;

  transition: ease 0.3s all;
}

.Link {
  text-decoration: none;
  color: #fcfcfb;
}

.Footer {
  margin-top: 765px;
}

.icons_footer {
  color: #fffdfe;
  margin: 10px;
}
.icons_footer:hover {
  color: #52c3f7;
}

.icons_project {
  color: #1fa1ec;
  margin-left: 5px;
}

.icons_project_js {
  color: #f1ee15;
  margin-left: 10px;
}

.icons_project_sf {
  color: #fcfcfb;
  margin-left: 10px;
}

.icons_project_php {
  color: #4798c7;
  margin-left: 10px;
}

.icons_project_jquery {
  color: #4798c7;
  margin-left: 10px;
}

.icons_project_a {
  color: #fcfcfb;
  text-decoration: none;
  margin: 25px;
  background: rgba(231, 226, 236, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icons_project_heroku {
  color: #931be2;
  margin-left: 10px;
}

.img_app {
  margin: 2rem;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  justify-content: space-around;
}

.img_div {
  display: flex;
  flex-wrap: wrap;
}

.video {
  display: flex;
  flex-wrap: wrap;
}

.video_item {
  justify-content: space-around;
}

@media screen and (min-width: 500px) {
  .button {
    height: 550px;
  }
}
